# Ignore Terraform files and directories

# Terraform state files
*.tfstate
*.tfstate.*

# Ignore .terraform directory which contains Terraform plugins and cached data
**/.terraform/

# Ignore .tfvars files that may contain sensitive information
*.tfvars

# Ignore override files
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

.terraform.lock.hcl
**/.terraform.lock.hcl